<!-- 
	Ajax Quick Checkout 
	v6.0.0
	Dreamvention.com 
	d_quickcheckout/shipping_method.tpl 
-->
<script type="text/html" id="shipping_method_template">
    <form id="shipping_method_form" <%= parseInt(model.config.display) && model.show_shipping_method ? '' : 'class="hidden"' %>>
    <% if (model.shipping_methods) { %>
    <div class="delivery-form">
        <div class="delivery-form__title">Способ доставки</div>
        <div class="panel-body" style="padding: 0">
            <% if(model.error){ %>
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i> <%= model.error %>
            </div>
            <% } %>
            <div id="shipping_method_list">
                <% if(model.config.input_style == 'select') { %>
                <div class="select-input form-group">
                    <select name="shipping_method" class="form-control shipping-method-select" data-refresh="5" >
                        <% _.each(model.shipping_methods, function(shipping_method) { %>
                        <% if (parseInt(model.config.display_title)) { %>
                        <optgroup label="<%= shipping_method.title %>">
                            <% } %>
                            <% _.each(shipping_method.quote, function(quote) { %>
                            <% if (quote.code == model.shipping_method.code) { %>
                            <option  value="<%= quote.code %>" id="<%= quote.code %>" selected="selected" ><%= quote.title %> <span class="price"><%= quote.text %></span></option>
                            <% } else { %>
                            <option  value="<%= quote.code %>" id="<%= quote.code %>" ><%= quote.title %> <span class="price"><%= quote.text %></span></option>
                            <% } %>
                            <% }) %>
                            <% if (parseInt(model.config.display_title)) { %>
                        </optgroup>
                        <% } %>
                        <% }) %>
                    </select>
                </div>


                <% }else{ %>
                <% _.each(model.shipping_methods, function(shipping_method) { %>
                <% if (!shipping_method.error) { %>
                <% if (shipping_method.quote['flat']) { %>
                <% _.each(shipping_method.quote, function(quote) { %>
                <% if (quote.code = 'flat.flat') { %>
                    <div class="radio-input radio">
                        <% if (quote.code == model.shipping_method.code) { %>
                        <input id="dv-1" type="radio" name="shipping_method" value="<%= quote.code %>" id="<%= quote.code %>" checked="checked" data-refresh="5" class="styled styled22"/>
                        <% } else { %>
                        <input type="radio" name="shipping_method" value="<%= quote.code %>" id="<%= quote.code %>" data-refresh="5" class="styled styled22"/>
                        <% } %>
                        <label for="<%= quote.code %>">
                            <div class="dv dv-1">
                                <div class="dv-ic">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70px" height="50px">
                                        <path fill-rule="evenodd" fill="rgb(158, 219, 223)" d="M66.428,21.297 L51.681,27.396 L51.150,27.967 L51.150,19.533 L61.419,12.995 C61.824,12.739 62.290,12.598 62.756,12.598 C62.844,12.598 62.932,12.603 63.020,12.613 C63.220,12.636 63.418,12.687 63.608,12.766 C64.723,13.232 67.957,17.014 67.723,19.587 C67.652,20.352 67.138,21.003 66.428,21.297 ZM63.801,29.715 C64.123,29.576 64.468,29.503 64.810,29.503 C65.024,29.503 65.236,29.531 65.442,29.589 C65.635,29.643 65.822,29.725 65.997,29.833 C68.007,31.075 69.693,34.446 68.987,37.216 C68.798,37.961 68.186,38.523 67.439,38.701 L51.916,42.401 L43.759,48.775 C43.134,49.264 42.374,49.554 41.583,49.608 L35.807,50.001 C35.771,50.004 35.734,50.005 35.698,50.005 C35.554,50.005 35.412,49.984 35.276,49.947 C34.783,49.808 34.376,49.432 34.210,48.926 L33.957,48.155 L34.438,48.044 C34.601,48.006 34.703,47.841 34.665,47.677 C34.633,47.536 34.507,47.442 34.369,47.442 C34.346,47.442 34.323,47.444 34.300,47.450 L32.870,47.782 C32.827,47.774 32.782,47.772 32.740,47.760 C32.313,47.640 31.954,47.320 31.798,46.877 L31.433,45.840 L32.346,45.628 C32.510,45.589 32.613,45.425 32.574,45.261 C32.541,45.120 32.414,45.026 32.276,45.026 C32.253,45.026 32.230,45.028 32.207,45.034 L31.204,45.267 C31.124,45.279 31.044,45.284 30.964,45.284 C30.824,45.284 30.686,45.266 30.554,45.229 C30.111,45.104 29.735,44.784 29.559,44.333 L29.064,43.047 L30.544,42.703 C30.708,42.664 30.810,42.501 30.771,42.337 C30.739,42.195 30.613,42.101 30.474,42.101 C30.452,42.101 30.429,42.104 30.406,42.109 L28.821,42.477 C28.744,42.491 28.666,42.499 28.590,42.499 C28.477,42.499 28.365,42.483 28.258,42.453 C27.903,42.353 27.598,42.097 27.447,41.739 L27.385,41.594 L26.740,40.075 C26.707,39.997 26.687,39.918 26.675,39.839 C26.602,39.338 26.937,38.843 27.467,38.758 L31.633,38.083 L33.171,37.835 L33.688,37.619 L34.540,37.263 L35.410,36.900 L37.661,35.962 C34.719,34.668 32.775,30.645 35.183,27.767 C35.369,27.546 35.624,27.443 35.884,27.443 C35.977,27.443 36.071,27.456 36.162,27.482 C36.386,27.545 36.594,27.683 36.746,27.885 C38.817,30.655 41.462,32.283 44.083,33.022 C44.597,33.167 45.110,33.275 45.618,33.353 C45.773,33.377 45.927,33.399 46.081,33.417 C46.224,33.434 46.368,33.451 46.511,33.462 C46.739,33.481 46.964,33.521 47.186,33.571 C47.249,33.585 47.312,33.596 47.373,33.613 C47.387,33.617 47.400,33.618 47.413,33.622 C47.490,33.644 47.564,33.670 47.639,33.696 C47.807,33.754 47.970,33.821 48.127,33.901 C48.323,34.000 48.510,34.115 48.684,34.250 L49.129,34.597 L49.394,34.805 L50.342,35.543 L51.150,35.194 L63.801,29.715 ZM6.881,36.334 C6.695,36.334 6.523,36.276 6.381,36.178 C6.147,36.019 5.994,35.750 5.994,35.446 L5.994,26.906 C5.994,26.602 6.147,26.334 6.381,26.174 C6.523,26.076 6.695,26.019 6.881,26.019 L13.810,26.019 C14.301,26.019 14.698,26.416 14.698,26.906 L14.698,35.446 C14.698,35.936 14.301,36.334 13.810,36.334 L6.881,36.334 ZM8.353,27.420 L6.845,30.032 L7.857,30.032 L7.857,32.368 L8.866,32.368 L8.866,30.032 L9.861,30.032 L8.353,27.420 ZM12.301,27.420 L10.793,30.032 L11.805,30.032 L11.805,32.368 L12.814,32.368 L12.814,30.032 L13.809,30.032 L12.301,27.420 ZM13.924,33.765 L6.778,33.765 L6.778,34.774 L13.924,34.774 L13.924,33.765 ZM47.910,31.862 C47.822,31.837 47.729,31.821 47.639,31.800 C47.624,31.797 47.609,31.793 47.594,31.790 C47.520,31.773 47.449,31.754 47.373,31.739 C47.142,31.695 46.905,31.660 46.662,31.640 C46.314,31.611 45.965,31.565 45.618,31.503 L45.618,19.422 L45.618,18.508 L45.618,17.593 L45.618,11.484 L29.241,11.484 L29.241,20.285 C29.241,20.776 28.844,21.173 28.354,21.173 L21.624,21.173 C21.134,21.173 20.736,20.776 20.736,20.285 L20.736,11.484 L6.381,11.484 L4.625,11.484 L4.360,11.484 L4.360,38.083 L4.625,38.083 L6.381,38.083 L25.353,38.083 C25.292,38.169 25.235,38.259 25.183,38.353 C24.928,38.815 24.812,39.328 24.838,39.839 C24.854,40.160 24.926,40.481 25.055,40.788 L25.398,41.594 L6.381,41.594 L4.360,41.594 C2.421,41.594 0.849,40.022 0.849,38.083 L0.849,8.446 C0.849,7.124 1.580,5.974 2.660,5.375 L8.744,0.599 C9.243,0.207 9.858,-0.005 10.491,-0.005 L39.487,-0.005 C40.120,-0.005 40.735,0.207 41.234,0.599 L46.758,4.936 L47.318,5.375 C48.052,5.783 48.622,6.447 48.913,7.245 C49.050,7.620 49.129,8.024 49.129,8.446 L49.129,18.652 L49.129,19.736 L49.129,20.819 L49.129,30.140 L49.129,31.482 L49.129,32.367 C48.946,32.266 48.758,32.174 48.561,32.092 C48.351,32.006 48.136,31.926 47.910,31.862 ZM39.487,2.824 L10.491,2.824 L8.985,4.007 L40.993,4.007 L39.487,2.824 ZM44.412,6.691 L43.384,5.884 L6.594,5.884 L5.566,6.691 L4.360,7.638 L4.831,7.638 L45.618,7.638 L44.412,6.691 ZM18.005,36.334 C17.515,36.334 17.118,35.936 17.118,35.446 L17.118,26.906 C17.118,26.416 17.515,26.019 18.005,26.019 L24.935,26.019 C25.201,26.019 25.437,26.138 25.600,26.324 C25.737,26.481 25.822,26.682 25.822,26.906 L25.822,27.381 L25.822,29.779 L25.822,31.502 L25.822,35.446 C25.822,35.936 25.425,36.334 24.935,36.334 L18.005,36.334 ZM21.683,27.426 C20.072,27.426 18.766,28.732 18.766,30.343 L21.178,30.343 L21.178,33.945 C21.178,34.039 21.102,34.115 21.008,34.115 C20.915,34.115 20.839,34.039 20.839,33.945 L20.839,32.771 L19.830,32.771 L19.830,33.945 C19.830,34.595 20.359,35.123 21.008,35.123 C21.658,35.123 22.187,34.595 22.187,33.945 L22.187,30.343 L24.600,30.343 C24.600,28.732 23.294,27.426 21.683,27.426 Z"></path>
                                    </svg>
                                </div>
                                <% if (parseInt(model.config.display_title)) { %>
                                <span class="title"><%= shipping_method.title %></span>
                                <% } %>
                            </div>
                        </div>
                <% } %>
                <% }) %>
                <% } %>
                <% } %>
                <% if (!shipping_method.error) { %>
                <% if (shipping_method.quote['pickup']) { %>
                <% _.each(shipping_method.quote, function(quote) { %>
                <% if (quote.code = 'pickup.pickup') { %>
                    <div class="radio-input radio">
                        <% if (quote.code == model.shipping_method.code) { %>
                        <input type="radio" name="shipping_method" value="<%= quote.code %>" id="<%= quote.code %>" checked="checked" data-refresh="5" class="styled styled22"/>
                        <% } else { %>
                        <input type="radio" name="shipping_method" value="<%= quote.code %>" id="<%= quote.code %>" data-refresh="5" class="styled styled22"/>
                        <% } %>
                        <label for="<%= quote.code %>">
                            <div class="dv dv-1">
                                <div class="dv-ic">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="54px" height="50px">
                                        <path fill-rule="evenodd" fill="rgb(158, 219, 223)"
                                              d="M52.752,24.058 L50.743,24.899 L33.180,32.249 L31.171,33.090 C30.809,33.241 30.392,33.071 30.241,32.709 L29.400,30.699 L21.516,12.023 L20.675,10.014 C20.524,9.652 20.694,9.235 21.056,9.084 L23.066,8.243 L29.545,5.532 L32.108,11.659 C32.180,11.831 32.378,11.912 32.549,11.840 L36.078,10.363 C36.249,10.291 36.330,10.094 36.258,9.922 L33.694,3.795 L40.629,0.893 L42.638,0.052 C43.000,-0.099 43.417,0.072 43.568,0.434 L44.409,2.444 L52.293,21.119 L53.134,23.128 C53.285,23.490 53.114,23.907 52.752,24.058 ZM29.196,36.689 L49.076,28.370 C49.891,28.029 50.828,28.413 51.169,29.228 C51.510,30.043 51.126,30.980 50.311,31.321 L49.334,31.730 L50.178,33.749 C50.519,34.564 50.135,35.501 49.320,35.842 C49.118,35.926 48.909,35.966 48.703,35.966 C48.077,35.966 47.483,35.597 47.226,34.983 L46.382,32.966 L45.119,33.494 C45.133,33.519 45.148,33.541 45.159,33.568 C45.323,33.959 45.138,34.408 44.748,34.572 L34.465,38.875 C34.368,38.915 34.268,38.934 34.169,38.934 C33.869,38.934 33.584,38.757 33.461,38.463 C33.450,38.437 33.445,38.410 33.437,38.383 L31.689,39.114 C31.882,39.428 32.060,39.754 32.207,40.104 C33.729,43.741 32.015,47.925 28.377,49.447 C24.739,50.969 20.556,49.254 19.034,45.617 C17.512,41.979 19.227,37.796 22.864,36.274 C23.029,36.205 23.196,36.150 23.363,36.095 L17.076,21.144 C10.252,19.365 6.271,9.454 6.093,9.001 C5.774,8.191 6.161,7.275 6.964,6.939 L13.693,4.123 C14.508,3.782 15.445,4.166 15.786,4.979 L29.062,36.610 C29.107,36.635 29.151,36.663 29.196,36.689 ZM13.454,7.692 L9.706,9.260 C11.162,12.263 14.165,17.018 17.793,18.030 L13.454,7.692 ZM28.661,41.588 C28.448,41.079 28.121,40.652 27.722,40.323 C27.528,40.163 27.317,40.027 27.094,39.915 C26.842,39.789 26.575,39.695 26.299,39.636 C25.833,39.538 25.343,39.542 24.861,39.657 C24.689,39.698 24.517,39.749 24.348,39.820 C22.669,40.523 21.877,42.454 22.580,44.133 C23.283,45.812 25.214,46.604 26.893,45.901 C28.572,45.198 29.364,43.267 28.661,41.588 ZM18.350,30.247 C18.350,31.131 17.634,31.847 16.750,31.847 L2.411,31.847 C1.527,31.847 0.811,31.131 0.811,30.247 C0.811,29.364 1.527,28.647 2.411,28.647 L16.750,28.647 C17.634,28.647 18.350,29.364 18.350,30.247 ZM16.750,36.514 L10.762,36.514 C9.878,36.514 9.162,35.797 9.162,34.914 C9.162,34.030 9.878,33.314 10.762,33.314 L16.750,33.314 C17.634,33.314 18.350,34.030 18.350,34.914 C18.350,35.797 17.634,36.514 16.750,36.514 ZM5.323,37.933 L16.750,37.933 C17.634,37.933 18.350,38.649 18.350,39.533 C18.350,40.417 17.634,41.133 16.750,41.133 L5.323,41.133 C4.439,41.133 3.723,40.417 3.723,39.533 C3.723,38.649 4.439,37.933 5.323,37.933 Z"/>
                                    </svg>
                                </div>
                                <% if (parseInt(model.config.display_title)) { %>
                                <span class="title"><%= shipping_method.title %></span>
                                <% } %>
                            </div>
                </div>
                <% } %>
                <% }) %>
                <% } %>
                <% } else { %>
                <div class="error alert alert-error"><%= shipping_method.error %></div>
                <% } %>
                <% }) %>
                <% } %>
                <div class="delivery-descr">
                    <div class="delivery-descr__title">Адрес самовывоза:</div>
                    <div class="delivery-descr__text">
                        <p>м. Улица Горчакова,</p>
                        <p>ул. Адмирала Лазарева, д. 40</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <% } %>
    </form>
</script>
<script>
    $(function() {
        qc.shippingMethod = $.extend(true, {}, new qc.ShippingMethod(<?php echo $json; ?>));
        qc.shippingMethodView = $.extend(true, {}, new qc.ShippingMethodView({
            el:$("#shipping_method"),
            model: qc.shippingMethod,
            template: _.template($("#shipping_method_template").html())
        }));
    });
</script>