<div class="trust">
    <div class="container">
        <div class="trust__title">Нам доверяют</div>
        <?php foreach ($banners as $banner) { ?>
        <div class="trust-item"><img src="<?php echo $banner['image']; ?>" alt=""></div>
        <?php } ?>
    </div>
</div>