/*-------------Grid-----------*/
@media (min-width: 1200px) and (max-width: 1920px) {
  .delivery-form .radio{
    width: 29%!important;
    float: left;
  }
  .delivery-descr {
    float: right;
    margin-right: 30px;
    position: relative;
    right: 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pay-form .pay.pay-1 {
    margin-left: 33px!important;
    margin-right: -34px!important;
  }
  .delivery-form .radio {
    width: 25%!important;
    float: left;
  }
  .delivery-descr {
    float: right;
    margin-right: 30px;
    position: relative;
    right: 2%;
  }
  .pay-form .pay-ic {
    display: inline-block;
    width: 130px;
    vertical-align: middle;
    text-align: center;
    padding-right: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1920px) {
  .styled22{
    position: relative;
    top: 25px;
    left: 15px;
  }
}
@media (min-width: 320px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 1240px;
  }
}

/*------------end-------------*/
@media only screen and (max-width: 1240px) {
  .nav-btn {
    margin-right: 25px;
  }
  .main-list .column {
    width: 25%;
    margin-right: 0;
  }
  .main-list__item {
    margin-right: -20px;
  }
  .main-list__item--title {
    margin-right: 0;
  }
  .main-list__item a {
    padding-right: 20px;
  }
  .nav-menu__item {
    margin-right: 5px;
  }
  .personal__link {
    font-size: 14px;
  }
  .personal__link:not(:last-child):after {
    right: -12px;
  }
  .personal__link--signin {
    margin-left: 40px;
  }
  .personal__link--signin:before {
    top: -2px;
    left: -25px;
  }
  .personal-fixed {
    margin-right: 55px;
  }
  .phone {
    font-size: 24px;
  }
  .phone--header {
    margin-left: 20px;
  }
  .phone--header:before {
    left: -30px;
  }
  .logo {
    width: 200px;
    margin-right: 0;
  }
  .logo__title {
    margin-top: 55px;
    font-size: 28px;
  }
  .logo__accent {
    font-size: 12px;
  }
  .search {
    width: 270px;
  }
  .order-present {
    margin-left: 45px;
  }
  .order-present:before {
    left: -35px;
  }
  .callback--header {
    width: 80px;
    margin-left: 25px;
  }
  .callback--header:before {
    left: -28px;
  }
  .slider-caption {
    padding-left: 30px;
  }
  .slider-text {
    margin-left: 30px;
  }
  .catalog-banner__title {
    padding: 0 20px;
  }
  .block-item {
    width: 23.8%;
    height: 245px;
    max-width: 100%;
    padding: 0 10px;
  }
  .block-item__pict {
    height: 180px;
  }
  .block-item__title {
    font-size: 14px;
  }
  .block-item__price {
    font-size: 14px;
  }
  .trust-item {
    margin: 0 20px;
  }
  .news-item {
    width: 23.8%;
    height: 335px;
  }
  .news-item__pict img {
    width: auto;
    height: 100%;
  }
  .news-item__title {
    padding: 0 10px;
    font-size: 16px;
  }
  .news-item__descr {
    padding: 0 10px;
  }
  .sale-block {
    margin-right: 0;
  }
  .sale-text:before {
    top: -228px;
  }
  .about-block {
    width: 440px;
    margin-right: 0;
  }
  .footer-block--menu {
    width: auto;
  }
  .footer-block--catalog {
    width: auto;
  }
  .phone--footer:before {
    top: 4px;
  }
  .callback--footer {
    margin-top: 10px;
  }
  .logo--footer {
    width: auto;
    margin-right: 40px;
  }
  /*------------Catalog page--------------*/
  .logo-inner {
    width: 210px;
    margin: 0 90px 0 -90px;
  }
  .logo-inner .logo__pict {
    top: -1px;
  }
  .logo-inner .logo__title {
    top: 15px;
    margin-left: 130px;
  }
  .search--inner {
    width: 250px;
  }
  .main {
    width: 610px;
  }
  .block-item--catalog {
    width: 294px;
    height: 350px;
  }
  .block-item--catalog .block-item__pict {
    height: 220px;
  }
  .block-item--catalog .block-item__title {
    margin-top: 0;
    font-size: 16px;
  }
  .block-item--catalog .block-item__price--catalog {
    font-size: 16px;
  }
  /*----------------end--------------------*/
  /*-----------Tovar page-----------------*/
  .tovar__pict {
    width: 300px;
    height: 300px;
  }
  .tab-head__link {
    width: 33.33%;
    padding: 10px 0 11px;
    text-align: center;
  }
  .block-tovar .block-item {
    width: 32.2%;
  }
  .block-tovar .block-item:last-of-type {
    margin-right: 0;
  }
  /*-------------end---------------------*/
  /*----------Profile page--------------*/
  .personal-in.personal-fixed {
    margin-right: 70px;
  }
  .personal-in.personal-fixed .personal__signin--in {
    font-size: 0;
    top: -17px;
    margin-left: 0;
  }
  .personal-in.personal-fixed .personal__signin--in:after {
    right: -12px;
  }
  .personal-in.personal-fixed .personal__signin--in span {
    display: none;
  }
  .delete-link {
    margin-right: 25px;
  }
  /*--------------end------------------*/
  /*-------------Cart page----------------*/
  .order-form form {
    width: 370px;
  }
  .order-form input {
    font-size: 16px;
  }
  .order-form textarea {
    font-size: 16px;
  }
  .option-order {
    width: 500px;
  }
  .delivery-form .dv {
    width: 120px;
  }
  .delivery-form .dv.dv-1 {
    margin: 0 0px 0 0;
  }
  .delivery-form .dv.dv-2 {
    margin-right: 10px;
  }
  .delivery-form .delivery-descr {
    margin-right: 18px;
  }

  .pay-form .pay.pay-1 {
    margin-left: 15px;
  }
  .pay-form .pay.pay-2 {
    margin: 0 40px;
  }
  .pay-form .pay.pay-3 {
    margin-left: 0;
  }
  /*----------------end--------------------*/
}

@media only screen and (max-width: 991px) {
  .header {
    padding-top: 70px;
  }
  .pay-form {
    text-align: center;
  }
  .header-top {
    height: 70px;
    line-height: 65px;
  }
  .nav-btn__wrap {
    width: 43px;
  }
  .delivery-form__title {
    margin-bottom: 9px;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: 800;
    color: #7c726a;
    border-bottom: 1px solid #e8e1db;
    text-align: left;
  }
  .nav-btn b {
    height: 7px;
    margin-bottom: 9px;
  }
  .nav-btn span {
    display: none;
  }
  .main-menu {
    top: 70px;
  }
  .main-menu .container {
    padding: 0 20px;
  }
  .main-list .column {
    float: none;
    width: 100%;
  }
  .main-list__item {
    margin-right: 0;
  }
  .main-list__item:not(.main-list__item--title):before {
    left: 0;
  }
  .main-list__item a {
    padding: 4px 0 7px 20px;
  }
  .main-list__item--title {
    margin-left: 0;
  }
  .main-list__item--title a {
    padding-left: 0;
  }
  .main-list__item--drop a {
    padding-left: 30px;
  }
  .logo {
    display: none;
  }
  .logo--mob {
    display: inline-block;
    float: none;
    width: auto;
    margin: 0;
    vertical-align: middle;
  }
  .logo__pict--mob {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 45px;
    vertical-align: middle;
  }
  .logo__title--mob {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    font-size: 30px;
  }
  .nav-menu {
    display: none;
  }
  .personal__link {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    font-size: 0;
    border-bottom: none;
  }
  .personal__link:hover {
    border-bottom: none;
  }
  .personal__link:not(:last-child):after {
    height: 50px;
    top: 10px;
    right: -2px;
    border-right: 1px solid #475153;
  }
  .personal__link--login:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-position: -196px 0px;
    width: 42px;
    height: 40px;
  }
  .personal__link--signin {
    display: none;
  }
  .personal__link--cart {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
  }
  .personal__link--cart:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-position: -196px -80px;
    width: 40px;
    height: 40px;
  }
  .personal__link--cart .count-wrap {
    top: 7px;
    left: 35px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
  }
  .personal__link--cart .count-wrap span {
    top: 47%;
    left: 46%;
  }
  .personal-fixed {
    margin-right: 0;
  }
  .personal-fixed .personal__link {
    top: 0;
  }
  .phone--header {
    width: 70px;
    height: 70px;
    margin: 0 73px 0 0;
    font-size: 0;
  }
  .phone--header span {
    display: none;
  }
  .phone--header:before {
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-position: -196px -40px;
    width: 40px;
    height: 40px;
  }
  .phone--header:after {
    content: ' ';
    position: absolute;
    top: 10px;
    right: -2px;
    height: 50px;
    border-right: 1px solid #475153;
  }
  .header-main {
    display: none;
  }
  .slider-wrap {
    margin-top: 20px;
  }
  .slider-nav {
    display: none;
  }
  .header-slider .slider-item {
    height: 477px;
    padding-top: 100px;
  }
  .slider-text {
    width: 70%;
    margin: 46px 0 0;
  }
  .slider-text__top {
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
  }
  .slider-text__bottom {
    font-weight: normal;
    text-align: left;
  }
  .btn--slider {
    width: 337px;
    height: 75px;
    margin: 35px 0 0 -5px;
    font-size: 24px;
    line-height: 75px;
  }
  .subscribe {
    bottom: -78px;
    height: 112px;
    padding: 31px 0;
    background-position: -6px top;
    background-size: 104% 100%;
  }
  .subscribe__title {
    position: absolute;
    top: -76px;
    left: 70px;
    width: 36%;
    font-size: 30px;
    line-height: 24px;
  }
  .subscribe__title:after {
    content: ' ';
    position: absolute;
    top: 25px;
    right: -80px;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 82px;
    height: 76px;
  }
  .subscribe-in {
    width: 560px;
  }
  .subscribe-in input {
    height: 60px;
    font-size: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
  .subscribe-btn {
    top: 2px;
    right: 2px;
    width: 98px;
    height: 56px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
  }
  .subscribe-btn i {
    background-image: url(../img/sprite.png);
    background-position: -140px -125px;
    width: 48px;
    height: 40px;
  }
  .catalog {
    padding-top: 125px;
  }
  .catalog__title {
    margin-bottom: 35px;
    font-size: 48px;
  }
  .catalog-carousel .slick-arrow {
    position: absolute;
    top: 22%;
    font-size: 0;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
  }
  .catalog-carousel .slick-arrow.slick-prev {
    left: 0;
    background-image: url(../img/sprite.png);
    background-position: -82px 0px;
    width: 58px;
    height: 90px;
  }
  .catalog-carousel .slick-arrow.slick-next {
    right: 0;
    background-image: url(../img/sprite.png);
    background-position: 0px -76px;
    width: 58px;
    height: 90px;
  }
  .catalog-banner__title {
    top: 0;
    margin-top: 7px;
    font-size: 36px;
    font-weight: 800;
  }
  .catalog-banner__pict img {
    width: 470px;
    -webkit-filter: none;
    filter: none;
  }
  .brend {
    padding-bottom: 78px;
  }
  .brend__title {
    margin-bottom: 10px;
    font-size: 0;
    text-align: center;
    border-bottom: none;
  }
  .brend__title span {
    display: block;
    font-size: 48px;
    font-style: normal;
  }
  .brend-carousel {
    text-align: center;
  }
  .brend-carousel .slick-track {
    width: 100% !important;
  }
  .brend-item {
    float: none !important;
    display: inline-block !important;
    width: 49% !important;
    vertical-align: middle;
  }
  .brend-item__logo {
    height: auto;
    margin-bottom: 20px;
  }
  .brend-item__logo img {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .block {
    padding: 4px 0;
  }
  .block .container {
    padding-right: 0;
  }
  .block__title {
    margin-bottom: 20px;
    font-size: 48px;
  }
  .block-item {
    width: 46.7%;
    height: 350px;
    margin: 0 20px 20px 0;
    padding: 0 20px;
  }
  .block-item__pict {
    height: 230px;
  }
  .block-item__title {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 24px;
  }
  .block-item__price {
    font-size: 36px;
  }
  .block-item__price span {
    font-size: 24px;
  }
  .block-item__cart {
    top: -5px;
    background-image: url(../img/sprite.png);
    background-position: -82px -90px;
    width: 46px;
    height: 50px;
  }
  .block-item--sale:nth-child(n+4) {
    display: none;
  }
  .trust {
    padding-bottom: 50px;
  }
  .trust__title {
    font-size: 48px;
    font-weight: 800;
  }
  .trust__title:after {
    bottom: -28px;
  }
  .trust-item {
    width: 26%;
    margin: 0 20px;
  }
  .trust-item img {
    display: block;
    width: 100%;
  }
  .news {
    padding: 55px 0 0;
  }
  .news__title {
    margin-bottom: 79px;
    font-size: 48px;
  }
  .news__title:after {
    bottom: -5px;
  }
  .news-item {
    width: 100%;
    height: 320px;
    margin: 0 20px 20px 0;
  }
  .news-item:last-child {
    margin-bottom: 0;
  }
  .news-item__pict {
    position: relative;
    float: left;
    width: 290px;
    height: 100%;
  }
  .news-item__date {
    top: auto;
    bottom: 0;
    width: 290px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
  }
  .news-item__title {
    display: table;
    margin: 27px 0 25px;
    padding-left: 18px;
    font-size: 24px;
  }
  .news-item__descr {
    height: 114px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 22px;
  }
  .btn--read {
    width: 245px;
    height: 50px;
    right: -16px;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    line-height: 47px;
  }
  .btn--read span i {
    top: 4px;
    margin-left: 12px;
    background-image: url(../img/sprite.png);
    background-position: -238px -191px;
    width: 14px;
    height: 20px;
  }
  .sale {
    height: 755px;
    margin-bottom: -125px;
    background-size: cover;
    background-position: -720px -38px;
  }
  .sale-block {
    float: none;
    margin: 125px auto 0;
    text-align: center;
  }
  .sale-text {
    display: block;
    margin: 0 auto 40px;
  }
  .sale-text:before {
    display: none;
  }
  .sale-text__middle {
    font-size: 36px;
    line-height: 34px;
  }
  .sale-text__bottom {
    font-size: 30px;
    line-height: 28px;
  }
  .sale-text__num {
    font-size: 60px;
    line-height: 55px;
  }
  .sale-text__num span {
    font-size: 30px;
  }
  .form-block {
    width: 450px;
  }
  .form-block:before {
    left: -60%;
  }
  .form-block__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .form-block__in {
    width: 100%;
    height: 60px;
  }
  .form-block__in:before {
    top: 16px;
  }
  .btn--form {
    width: 360px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
  }
  .about {
    height: 660px;
    background-size: cover;
    background-position: -222px top;
  }
  .about-block {
    width: 100%;
    margin: 86px 0 0;
  }
  .about-block__title {
    margin-bottom: 0;
    font-size: 48px;
  }
  .about-block__accent {
    font-size: 30px;
  }
  .about-block__text {
    font-size: 20px;
  }
  .footer {
    text-align: center;
  }
  .footer-main {
    padding: 92px 0 105px;
  }
  .footer-block {
    display: block;
    text-align: center;
  }
  .footer-block__title {
    margin-bottom: 15px;
    padding-left: 0;
    font-size: 36px;
  }
  .footer-block--menu {
    width: 100%;
    margin-bottom: 60px;
  }
  .footer-block--catalog {
    width: 100%;
  }
  .footer-block--catalog:before, .footer-block--catalog:after {
    display: none;
  }
  .footer-menu li {
    padding-left: 0;
  }
  .footer-menu li:before, .footer-menu li:after {
    display: none;
  }
  .footer-menu li a {
    font-size: 30px;
    line-height: 50px;
  }
  .footer-catalog li {
    padding-left: 0;
  }
  .footer-catalog li:before, .footer-catalog li:after {
    display: none;
  }
  .footer-catalog li a {
    font-size: 30px;
    line-height: 50px;
  }
  .phone--footer {
    margin: 60px 0 0 65px;
    font-size: 48px;
  }
  .phone--footer span {
    font-size: 30px;
  }
  .phone--footer:before {
    top: 12px;
    left: -70px;
    background-image: url(../img/sprite.png);
    background-position: -140px 0px;
    width: 56px;
    height: 40px;
  }
  .callback--footer {
    display: none;
  }
  .subscribe--footer {
    display: none;
  }
  .footer-bottom {
    padding: 55px 0 35px;
  }
  .logo--footer {
    display: block;
    margin: 0 0 20px;
  }
  .logo--footer .logo__pict {
    width: 55px;
    height: 53px;
    vertical-align: middle;
  }
  .logo--footer .logo__title {
    vertical-align: middle;
    font-size: 36px;
  }
  .logo--footer .logo__accent {
    display: none;
  }
  .copyright {
    margin-bottom: 30px;
    padding: 0 100px;
    font-size: 24px;
  }
  .developer {
    display: block;
    margin-left: 0;
  }
  .developer__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    font-size: 21px;
    color: #415053;
  }
  .developer__pict {
    display: none;
  }
  .developer__pict--mob {
    display: inline-block;
    vertical-align: middle;
  }
  /*------------Catalog page--------------*/
  .content {
    padding-bottom: 57px;
  }
  .sidebar {
    float: none;
    position: absolute;
    top: 150px;
    left: -100%;
    width: 320px;
    padding: 20px;
    -webkit-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
    z-index: 997;
    background: #fff;
  }
  .sidebar.open {
    left: 0;
  }
  .main {
    width: 100%;
    padding: 20px 0 0;
    border-left: none;
  }
  .breadcrumb {
    display: none;
  }
  .nav-btn--catalog {
    position: relative;
    margin: 10px 45px 22px 0;
    vertical-align: bottom;
  }
  .nav-btn--catalog b {
    margin-bottom: 8px;
    background: #000;
  }
  .nav-btn--catalog span {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    color: #1d2628;
  }
  .nav-btn--catalog:after {
    content: ' ';
    position: absolute;
    top: 7px;
    right: -35px;
    background-image: url(../img/sprite.png);
    background-position: -238px -147px;
    width: 15px;
    height: 24px;
  }
  .nav-mob {
    display: block;
    margin: 0 0 50px;
  }
  .nav-mob__item {
    display: inline-block;
  }
  .nav-mob__item--in {
    position: relative;
    min-width: 222px;
    max-width: 565px;
    height: 60px;
    margin-bottom: 10px;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 300;
    color: #1d2628;
    line-height: 54px;
    text-align: center;
    border: 2px solid #1d2628;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .nav-mob__item--in a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .nav-mob__item--in:after {
    content: ' ';
    position: absolute;
    top: 16px;
    right: -35px;
    background-image: url(../img/sprite.png);
    background-position: -238px -147px;
    width: 15px;
    height: 24px;
  }
  .nav-mob__item--end {
    width: 472px;
    height: 60px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 55px;
    background-color: #1d2628;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .page-title {
    font-size: 48px;
  }
  .page-title--catalog {
    margin-bottom: 21px;
  }
  .block-catalog {
    padding: 0 0 0 20px;
    margin: 0 -20px;
  }
  .block-item--catalog {
    width: 290px;
    height: 350px;
  }
  .block-item--catalog .block-item__pict {
    height: 220px;
  }
  .block-item--catalog .block-item__title {
    font-size: 24px;
  }
  .block-item--catalog .block-item__price--catalog {
    display: inline-block;
    font-size: 36px;
  }
  .block-item--catalog .block-item__price--catalog span {
    font-size: 24px;
  }
  .block-item--catalog .block-item__cart--catalog {
    display: block;
    position: relative;
    top: -50px!important;
    cursor: pointer;
  }
  .btn--cart {
    display: none;
  }
  .btn--oneclick {
    display: none;
  }
  .pagination {
    margin-top: 8px;
  }
  .pagination-list {
    margin-right: 6px;
  }
  .pagination-list li {
    width: 60px;
    height: 60px;
    margin-right: 6px;
    vertical-align: middle;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    border: 2px solid #1d2628;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .pagination-list li a {
    color: #1d2628;
  }
  .pagination-list li:hover {
    background: #1d2628;
  }
  .pagination-list li:hover a {
    color: #fff;
  }
  .pagination-list li.active {
    font-weight: 300;
    background: #1d2628;
  }
  .pagination-list li.active a {
    color: #fff;
  }
  .pagination-nav {
    position: relative;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    font-size: 0;
    border: 2px solid #1d2628;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .pagination-nav:before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .pagination-nav--prev {
    margin-right: 6px;
  }
  .pagination-nav--prev:before {
    background-image: url(../img/sprite.png);
    background-position: -58px -128px;
    width: 20px;
    height: 31px;
  }
  .pagination-nav--next:before {
    background-image: url(../img/sprite.png);
    background-position: 0px -200px;
    width: 20px;
    height: 31px;
  }
  .pagination-list li:hover {
    font-weight: 300;
  }
  .catalog-descr {
    padding-bottom: 95px;
    font-size: 20px;
  }
  .catalog-descr__title {
    margin-bottom: 33px;
    font-size: 24px;
    line-height: 1.2;
  }
  /*----------------end--------------------*/
  /*----------Tovar page----------------*/
  .content--tovar {
    padding-bottom: 80px;
  }
  .page-title--tovar {
    font-size: 36px;
    letter-spacing: -2px;
  }
  .tovar {
    margin-bottom: 77px;
  }
  .tovar__pict {
    float: none;
    width: 100%;
    height: 440px;
    margin-bottom: 8px;
    border: none;
  }
  .tovar-descr {
    padding-left: 0;
  }
  .tovar-descr__logo {
    margin-bottom: 36px;
  }
  .tovar-descr__text {
    margin-bottom: 44px;
    font-size: 20px;
  }
  .tovar-descr__price {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .tovar-descr__price span {
    font-size: 36px;
  }
  .btn--tovar {
    width: 325px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
  }
  .btn--tovar i {
    top: 10px;
    margin-right: 10px;
    background-image: url(../img/sprite.png);
    background-position: -196px -120px;
    width: 37px;
    height: 40px;
  }
  .tab-block {
    margin: 0 -20px 86px;
  }
  .tab-head {
    border-bottom: none;
  }
  .tab-head__link {
    float: none;
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 11px 0 13px;
    border-bottom: 2px solid #216f9e;
    font-size: 30px;
  }
  .tov-title {
    margin: 66px 0 40px;
    padding-left: 20px;
    font-size: 24px;
  }
  .tb-tovar .tb-cell {
    padding: 12px 0 14px 20px;
    font-size: 20px;
  }
  .block-tovar {
    margin: 0 -10px;
    padding: 4px 0 0 10px;
  }
  .block-tovar .block-item {
    width: 46.6%;
  }
  .block-tovar .block-item:last-child {
    margin-right: 0;
  }
  /*-------------end---------------------*/
  /*-------------Profile page-------------*/
  .personal-in .personal__link--login {
    display: inline-block;
  }
  .personal-in .personal__signin--in {
    display: none;
  }
  .personal-in.personal-fixed {
    margin-right: 0;
  }
  .personal-in.personal-fixed .personal__link--cart {
    top: 0;
  }
  .page-title--profile {
    margin-top: 34px;
  }
  .profile {
    margin-bottom: 82px;
  }
  .profile:last-child {
    margin-bottom: 0;
  }
  .profile--history {
    margin-top: -13px;
  }
  .profile-list {
    margin: 0 -20px;
  }
  .profile-list__item {
    padding: 10px 0;
  }
  .profile-list__title {
    width: 48.5%;
    padding-left: 40px;
    font-size: 24px;
  }
  .profile-list__title--delivery {
    width: auto;
    margin-right: 28px;
    padding-left: 30px;
  }
  .profile-list__descr {
    font-size: 24px;
  }
  .profile-list__descr--delivery {
    width: 510px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -1px;
  }
  .add-link {
    margin-left: 89px;
  }
  .tb-profile {
    display: block;
    width: auto;
    margin: 0 -20px;
  }
  .tb-profile .tb-row {
    display: block;
    height: 140px;
    padding: 20px 0 0;
  }
  .tb-profile .tb-row--head {
    display: none;
  }
  .tb-profile .tb-row:nth-child(2) {
    border-top: 1px dotted #bfbfbf;
  }
  .tb-profile .tb-cell {
    display: table;
    width: auto;
    font-size: 24px;
  }
  .tb-profile .tb-cell--count {
    float: left;
    display: block;
    width: 100px;
    height: 100%;
    padding: 0 0 0 40px;
  }
  .tb-profile .tb-cell--order {
    margin-bottom: 10px;
  }
  .tb-profile .tb-cell--order a {
    font-size: 24px;
  }
  .tb-profile .tb-cell--price {
    margin-bottom: 4px;
  }
  .tb-profile .tb-cell--price span {
    display: inline-block;
    width: 140px;
  }
  .tb-profile .tb-cell--status span {
    display: inline-block;
    width: 140px;
  }
  .pagination--profile {
    margin-top: 30px;
  }
  .pagination-nav--profile {
    display: none;
  }
  .pagination-nav--profile.active {
    display: inline-block;
  }
  .pagination-nav--profile.pagination-nav--prev {
    margin-right: 6px;
  }
  .pagination-nav--profile.pagination-nav--prev:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-position: -58px -128px;
    width: 20px;
    height: 31px;
  }
  .pagination-nav--profile.pagination-nav--next:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-position: 0px -200px;
    width: 20px;
    height: 31px;
  }
  .pagination-list--profile li.active a {
    font-size: 30px;
  }
  .pagination-list--profile li a {
    font-size: 30px;
  }
  /*----------------end-------------------*/
  /*-------------Cart page----------------*/
  .content--cart {
    padding-bottom: 113px;
  }
  .tb-cart .tb-row:nth-child(2) {
    border-top: 1px solid #e8e1db;
  }
  .tb-cart .tb-row--head {
    display: none;
  }
  .tb-cart .tb-cell {
    padding: 15px 0 22px;
    vertical-align: top;
  }
  .tb-cart .tb-cell--pict {
    padding-left: 0;
  }
  .tb-cart .tb-cell--pict img {
    width: auto;
    height: 120px;
    margin-left: 0px;
  }
  .tb-cart .tb-cell--name {
    width: 300px;
    padding-top: 28px;
    font-size: 24px;
    line-height: 24px;
  }
  .tb-cart .tb-cell--name span {
    margin-top: 14px;
  }
  .tb-cart .tb-cell--price {
    display: block;
    padding: 28px 0 0 6px;
    font-size: 30px;
    text-align: center;
  }
  .tb-cart .tb-cell--number {
    display: block;
    padding-bottom: 0;
    text-align: right;
  }
  .tb-cart .tb-cell--total {
    display: block;
    padding: 0px 0 22px 36px;
    font-size: 24px!important;
    color: #aba8a6!important;
    text-align: left;
  }
  .tb-cart .tb-cell--delete {
    display: none;
  }
  .tb-cart .jq-number__field {
    width: 140px;
    height: 60px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .tb-cart .jq-number__field input {
    padding: 12px 0!important;
    font-size: 30px!important;
  }
  .tb-cart .jq-number__spin {
    width: 35px;
    height: 60px;
    top: 1px;
  }
  .tb-cart .jq-number__spin.minus {
    top: 0px;
    left: 0px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  .tb-cart .jq-number__spin.minus:after {
    width: 12px;
    height: 4px;
    top: 26px;
    left: 11px;
  }
  .tb-cart .jq-number__spin.minus:before {
    display: none;
  }
  .tb-cart .jq-number__spin.plus {
    right: 0px;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    top: 0px;
  }
  .tb-cart .jq-number__spin.plus:after {
    width: 16px;
    height: 4px;
    top: 26px;
    left: 10px;
  }
  .tb-cart .jq-number__spin.plus:before {
    width: 4px;
    height: 16px;
    top: 20px;
    left: 16px;
  }
  .cart-total {
    margin: 22px 88px 0 0;
  }
  .cart-total span {
    width: 290px;
    font-size: 30px;
  }
  .order {
    margin-top: 89px;
  }
  .order__title {
    font-size: 36px;
    text-align: center;
  }
  .order-form {
    float: none;
    margin-bottom: 0px;
  }
  .order-form form {
    width: 100%;
  }
  .order-form input {
    height: 60px;
    font-size: 24px;
  }
  .order-form textarea {
    height: 150px;
    font-size: 24px;
  }
  .option-order {
    width: 100%;
    position: relative;
    bottom: 107px;
  }
  .btn--click {
    width: 325px;
    height: 70px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 70px;
  }
  .btn--click i {
    top: 14px;
    margin: 0 10px 0 7px;
    background-image: url(../img/sprite.png);
    background-position: -186px -125px;
    width: 54px;
    height: 40px;
  }
  .option-order .jq-radio {
    width: 180px;
    height: 140px;
    z-index: 9;
    border: none;
  }
  .option-order .jq-radio__div {
    display: none;
  }
  .option-order .jq-radio.focused {
    border: none;
  }
  .delivery-form {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  .delivery-form__title {
    margin-bottom: 15px;
  }
  .delivery-form .dv {
    position: relative;
    width: 180px;
    height: 140px;
    z-index: 5;
    border: 2px solid #554b43;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .delivery-form .dv span {
    position: absolute;
    bottom: 33%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 57%);
    -ms-transform: translate(0, 57%);
    transform: translate(0, 57%);
    font-size: 24px;
    line-height: 24px;
  }
  .delivery-form .dv-ic {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
  }
  .delivery-form .dv-ic path {
    fill: #554b43;
  }
  .delivery-form .dv.dv-1 {
    margin: 0 5px 0 0;
  }
  .delivery-form .dv.dv-2 {
    margin: 0;
  }
  .delivery-form .radio label{
    display: block;
    width: 30%!important;
    float: left;
  }
  .delivery-form .radio input,
  .delivery-form .radio input{
    display: none;
  }
  .delivery-form .radio input:checked + label div,
  .delivery-form .radio input:checked + label div{
    background: #554b43;
  }
  .delivery-form .radio input:checked + label .dv-ic path,
  .delivery-form .radio input:checked + label .dv-ic path{
    fill: #fff;
  }
  .delivery-form .radio input:checked + label span,
  .delivery-form .radio input:checked + label span{
    color: #fff;
  }
  .delivery-descr {
    width: 210px;
  }
  .delivery-descr__title {
    font-size: 20px;
  }
  .delivery-descr__text {
    font-size: 20px;
  }
  .pay-form {
    padding-bottom: 15px;
  }
  .pay-form__title {
    margin-bottom: 15px;
  }
  .pay-form .pay {
    position: relative;
    width: 180px;
    height: 140px;
    z-index: 5;
    border: 2px solid #554b43;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .pay-form .pay span {
    font-size: 20px;
    line-height: 20px;
  }
  .pay-form .pay-ic {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .pay-form .pay-ic path {
    fill: #554b43;
  }
  .pay-form .pay.pay-1 {
    margin-left: 0;
  }
  .pay-form .pay.pay-2 {
    margin: 0 15px;
  }
  .pay-form .pay.active {
    background: #554b43;
  }
  .pay-form .pay.active .pay-ic path {
    fill: #fff;
  }
  .pay-form .pay.active span {
    color: #fff;
  }
  .btn--order {
    width: 325px!important;
    height: 70px!important;
    font-size: 24px!important;
    text-transform: uppercase!important;
  }
  /*----------------end-------------------*/
}

@media only screen and (max-width: 640px) {
  .header-slider .slick-slide img {
    position: relative;
    right: 110px;
  }
  /**/
}

@media only screen and (max-width: 480px) {
  /**/
}

@media only screen and (max-width: 320px) {
  /**/
}
