.owq-option table td {
    font-family: ubuntu;
    max-height: 41px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
.table_style_product_new {
float: left;
margin-left: 2px;
}
.span_addition_name_kind {
margin-bottom: 11px;
font-family: ubuntu;
font-size: 17px;
color: #3E647A;
}
.owq-option table thead td {
color: white;
font-family: ubuntu;
font-size: 19px;
font-weight: 500;
height: 41px;
padding: 1px 0 2px 0px;
text-align: center;
}
.owq-option input[type="text"].input_product_form_new {
max-width: 30px;
border: none;
max-height: 16px !important;
height: 16px !important;
margin-top: 2px !important;
background-color: transparent;
font-size: 14px;
font-family: ubuntu;
color: #3E647A;
}
@media screen and (max-width: 1239px){
  .container_table_general {
    transform: scale(.88);
    margin-left: -60px;
    transform-origin: top center;
    -ms-transform-origin: top center;
  }
}